.margin-space {
  margin-left: 10rem;
  margin-top: 4rem;
}

.box {
    display: flex;
    flex-direction: column;
    background-color: #f7f7f9;
    width: 40rem;
    padding: 2rem;
    border-radius: 10px;
    border: 2px solid #eeeefc;
}

textarea {
    resize: none;
}